@*<main>
        <section class="row" aria-labelledby="aspnetTitle">
            <h1 id="title">ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
        </section>

        <div class="row">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <h2 id="gettingStartedTitle">Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="librariesTitle">
                <h2 id="librariesTitle">Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="hostingTitle">
                <h2 id="hostingTitle">Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </section>
        </div>
    </main>*@


@using WebMatrix.Data;
@{
    var db = Database.Open("GameDB");
    var sql = "select BoardGame.Name, BoardGame.Description, BoardGame.Name, BoardGame.Family, Category.Category, BoardGame.ImagePath, BoardGame.BGGid from BoardGame" +
        " join GameCategory on BoardGame.BGGId = GameCategory.BGGID" +
        " join Category on GameCategory.Category = Category.CategoryId" +
        " where (BoardGame.Name like concat(@0, '%') or @0 = '') and (Category.Category = @1 or @1 = '') ";
    var text = Request.Form["searchText"] ?? "";
    var cat = Request.Form["category"] ?? "";
    var data = db.Query(sql,text,cat);
    var catsql = "select * from category";
    var catdata = db.Query(catsql);
    if (!IsPost)
{
        text = "";
        cat = "";
}

}

<head>
    <link rel="stylesheet" type="text/css" href="/Content/Site.css" />
</head>

<div class="bg-light py-1 mt-2">
    <h2 class="text-center">All BoardGame</h2>
</div>

<form method="post" action="/Home/Index">
    <div class="row mb-3">
        <div class="col-3">
            <input type="text" name="searchText" class="form-control" placeholder="Search Products" value="@Request.Form["searchText"]" />
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
    <label for="category">Choose a category:</label>
    <select name="category" id="category">
        <option value="">Category</option>
        @foreach (var row in catdata)
        {
            <option value="@row.Category">@row.Category</option>
        }
    </select>
    <button type="submit" class="btn btn-secondary">Search</button>
</form>



<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role ="switch" id="displayswitch" onclick="displaybg()" >
    <label class="form-check-label" for="displayswitch" id="displayswitchtext">Table form</label>
</div>

<div class="table-container">
    <table id="infro">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Id</th>
            <th>Category</th>
            <th>Details</th>
        </tr>
        @foreach (var row in data)
        {
            <tr>
                <td>@row.Name</td>
                <td>@row.Description</td>
                <td>@row.BGGid</td>
                <td>@row.Category</td>
                <td><a href="/Home/Details?id=@row.BGGid">Click here for details</a></td>
            </tr>
        }
    </table>
</div>

<script>
    function displaybg() {
        var toggle = document.getElementById("displayswitch")
        if (toggle.checked) {
            document.getElementById("infro").innerHTML =
            `<div class="row justify-content-center" id="infro">
                @foreach (var row in data) {
                    <div class="card col-4 m-2">
                            <img src="@row.ImagePath" class="card-img-top" alt="@row.ImagePath image" />
                            <div class="card-body">
                                <h5 class="card-title">@row.Name</h5>
                                <p class="card-text">@row.Description</p>
                                <p class="card-text">Id: @row.BGGid</p>
                                <p class="card-text">Category: @row.Category</p>
                                <a href="/Home/Details?id=@row.BGGid">Click here for details</a>
                            </div>
                        </div>
                }
            </div>`;
            document.getElementById("displayswitchtext").innerHTML = "Card form"
        } else {
            document.getElementById("infro").innerHTML =
            `   <table id="infro">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Id</th>
                    <th>Category</th>
                    <th>Details</th>
                </tr>
                @foreach (var row in data)
                {
                    <tr>
                        <td>@row.Name</td>
                        <td>@row.Description</td>
                        <td>@row.BGGid</td>
                        <td>@row.Category</td>
                        <td><a href="/Home/Details?id=@row.BGGid">Click here for details</a></td>
                    </tr>
                }
                </table>`;
            document.getElementById("displayswitchtext").innerHTML = "Table form"
        }
    }

</script>